@model WebApplication1.Models.HomeModel
@{
    ViewBag.Title = "Trang Chủ Cocoon";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<!-- /main-slider -->
<!-- main-slider -->
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            @foreach (var item in Model.ListBanner)
            {
                <div class="item">
                    <li>
                        <div class="slider-info banner-view bg bg2" style="background: url('/Content/images/@item.Image') no-repeat center;background-size: cover">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>@item.Title</h5>
                                        <h6>@item.Description</h6>
                                        <p class="mt-md-4 mt-3">
                                            @item.Thumbnail
                                        </p>
                                        <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> THAM QUAN TRẢI NGHIỆM</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            }
        </div>
    </div>
</section>
<!-- /main-slider -->
<!-- about page about section -->
<!--  TIN MỚI -->
<div class="w3l-news text-11" id="homeblog">
    <section id="grids5-block">
        <div class="container row mt-lg-5 mt-4 text11-content list-wrapper" style="font-size:20px"><span class="col-lg-12 col-sm-1 text-center" style="font-size: 30px; background-color: #1e90ff;color:white"><i class="ion-ios-navigate mx-1"></i>Tin mới</span></div>
        <div class="container py-lg-5 py-md-4 py-2 d-flex">
            <div class="col-md-6 col-sm-12">
                <div class="position-relative">
                    <section class="w3l-main-slider" id="home">
                        <div class="companies20-content">
                            <div class="owl-one owl-carousel owl-theme">
                                @foreach (var item in Model.ListBlogNew)
                                {
                                    if (@item.CategoryId == 3)
                                    {
                                        if (item.IsNew == true)
                                        {
                                            <a href="@Url.Action("Single", "Home", new { Id = item.BlogId })">
                                                <div class="item" style="width: 555px; height: 477px;">
                                                    <li>
                                                        <div class="slider-info banner-view bg bg2" style="height: 477px; min-height: unset; background: url('/Content/images/@item.Image') no-repeat center; ">
                                                            <div class="banner-info">
                                                                <div class="container">
                                                                    <div class="banner-info-bg">
                                                                        <h5 style="font-size:30px">@item.Title.Substring(0, 30)...</h5>
                                                                        <h6 style="font-size:25px">@item.Description.Substring(0, 60)...</h6>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </div>
                                            </a>}
                                    }
                                }
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text11-content thanhcuon" style="overflow:auto ;height:477px">
                @foreach (var item in Model.ListBlogNew)
                {
                    if (@item.CategoryId == 3)
                    {
                        if (item.IsNew == true)
                        {
                            <div class="row mt-2">
                                <div class="grids5-info d-flex row">
                                    <a href="@Url.Action("Single", "Home", new { Id = item.BlogId })" class="col-md-6 blog-image d-block zoom" style="padding:0px">
                                        <img src="~/Content/images/@item.Image"
                                             alt="" class="img-fluid news-image" />
                                        <div class="image-overlay">
                                            <span><img src="~/Content/images/logoDHV.png"  style="width:30px;height:30px ;margin:auto" /></span>
                                        </div>
                                    </a>
                                    <div class="col-md-6 blog-info card-body blog-details" style="padding:0 0 0 10px;">
                                        <span class="m-2"><i class="ion-calendar"></i> @item.ModifiedBy</span>
                                        <a href="#blog-single" class="blog-desc crop-text " id="title" style="font-size: 16px; margin:0px ">
                                            @item.Title.Substring(0, 35)...
                                        </a>
                                        <a href="#blog-single" class="blog-desc" id="des" style="font-size: 14px; font-weight: 400; margin: 0px ">
                                            @item.Description.Substring(0, 60)...
                                        </a>
                                        <a href="#blog-single" class="read">
                                            Đọc thêm <span class="fa fa-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                }
            </div>
        </div>
    </section>
</div>
<section>
    <div class="midd-w3">
        <div class="container py-sm-5 py-2">
            <div class="row mt-lg-5 mt-4 text11-content list-wrapper" style="font-size:20px"><span class="col-lg-12 col-sm-1 text-center" style="font-size: 30px; background-color: #1e90ff;color:white"><i class="ion-fireball mx-1"></i>Tin nổi bật</span></div>
            <div class="row mt-lg-5 mt-4 text11-content list-wrapper" style="grid-row-gap: 20px;">
                <ul class="d-flex row" id=" listitem">
                    <li class="mt-4 col-lg-4 col-md-6 " id="items">
                        <div class=" mt-md-0 mt-sm-4 mt-3 list-item" style="margin-top:30px">
                            <div class="grids5-info">
                                <a href="/Home/Single/5" class="blog-image d-block zoom" style="height:240px">
                                    <img src="/Content/images/anh4.png" alt="" class="img-fluid news-image">
                                    <div class="image-overlay">
                                        <span><img src="/Content/images/logoDHV.png" style="width:30px;height:30px ;margin:auto"></span>
                                    </div>
                                </a>
                                <div class="card-body" style=" padding: 30px 25px; border: 1px solid var(--border-color-light); border-bottom-left-radius: var(--border-radius); border-bottom-right-radius: var(--border-radius); cursor: pointer !important; ">
                                    <span class="my-2"><i class="ion-calendar"></i> 12/15/2022 12:00:00 AM</span>
                                    <a href="/Home/Single/5" class="blog-desc" style=" display: block; font-size: 22px; line-height: 28px; font-weight: 600; color: var(--heading-color); margin-top: 20px; cursor: pointer !important;">
                                        Trường Đại học Vinh tổ chức Hội ngh...
                                    </a>
                                    <a href="/Home/Single/5" class="read" style="font-size: 17px; padding: 0; color: var(--heading-color); transition: 0.3s ease-in-out; font-weight: 600; border-radius: 0; margin-top: 20px; display: inline-block; text-transform: capitalize; cursor: pointer !important; text-decoration: none; font-family: 'Prompt', sans-serif; background-color: transparent;">
                                        Đọc thêm <span class="fa fa-arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="mt-4 col-lg-4 col-md-6 " id="items">
                        <div class=" mt-md-0 mt-sm-4 mt-3 list-item" style="margin-top:30px">
                            <div class="grids5-info">
                                <a href="/Home/Single/6" class="blog-image d-block zoom" style="height:240px">
                                    <img src="/Content/images/anh5.jpg" alt="" class="img-fluid news-image">
                                    <div class="image-overlay">
                                        <span><img src="/Content/images/logoDHV.png" style="width:30px;height:30px ;margin:auto"></span>
                                    </div>
                                </a>
                                <div class="card-body" style=" padding: 30px 25px; border: 1px solid var(--border-color-light); border-bottom-left-radius: var(--border-radius); border-bottom-right-radius: var(--border-radius); cursor: pointer !important; ">
                                    <span class="my-2"><i class="ion-calendar"></i> 12/10/2022 12:00:00 AM</span>
                                    <a href="/Home/Single/6" class="blog-desc" style=" display: block; font-size: 22px; line-height: 28px; font-weight: 600; color: var(--heading-color); margin-top: 20px; cursor: pointer !important;">
                                        Gặp mặt Câu lạc bộ Hiệu trưởng các ...
                                    </a>
                                    <a href="/Home/Single/6" class="read" style="font-size: 17px; padding: 0; color: var(--heading-color); transition: 0.3s ease-in-out; font-weight: 600; border-radius: 0; margin-top: 20px; display: inline-block; text-transform: capitalize; cursor: pointer !important; text-decoration: none; font-family: 'Prompt', sans-serif; background-color: transparent;">
                                        Đọc thêm <span class="fa fa-arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="mt-4 col-lg-4 col-md-6 " id="items">
                        <div class=" mt-md-0 mt-sm-4 mt-3 list-item" style="margin-top:30px">
                            <div class="grids5-info">
                                <a href="/Home/Single/7" class="blog-image d-block zoom" style="height:240px">
                                    <img src="/Content/images/anh6.jpg" alt="" class="img-fluid news-image">
                                    <div class="image-overlay">
                                        <span><img src="/Content/images/logoDHV.png" style="width:30px;height:30px ;margin:auto"></span>
                                    </div>
                                </a>
                                <div class="card-body" style=" padding: 30px 25px; border: 1px solid var(--border-color-light); border-bottom-left-radius: var(--border-radius); border-bottom-right-radius: var(--border-radius); cursor: pointer !important; ">
                                    <span class="my-2"><i class="ion-calendar"></i> 12/11/2022 12:00:00 AM</span>
                                    <a href="/Home/Single/7" class="blog-desc" style=" display: block; font-size: 22px; line-height: 28px; font-weight: 600; color: var(--heading-color); margin-top: 20px; cursor: pointer !important;">
                                        Hội thảo khoa học quốc gia "Đào tạo...
                                    </a>
                                    <a href="/Home/Single/7" class="read" style="font-size: 17px; padding: 0; color: var(--heading-color); transition: 0.3s ease-in-out; font-weight: 600; border-radius: 0; margin-top: 20px; display: inline-block; text-transform: capitalize; cursor: pointer !important; text-decoration: none; font-family: 'Prompt', sans-serif; background-color: transparent;">
                                        Đọc thêm <span class="fa fa-arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="pagination-container"></div>
        </div>
    </div>
</section>
<!-- //about page about section -->
<section>
    <div class="container" style="padding:0">
        <div class="row mt-lg-5 my-4 text11-content list-wrapper" style="margin:15px 0; font-size:20px"><span class="col-lg-12 col-sm-1 text-center" style="font-size: 30px; background-color: #1e90ff;color:white"><i class="ion-university mx-1"></i>Tuyển sinh</span></div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    @foreach (var item in Model.ListBlogNew)
                    {

                <a href="@Url.Action("Single", "Home", new { Id = item.BlogId })">
                    <div class="row m-2">
                        @if (item.CategoryId == 1)
                        {
                            <div class="col-sm-4 grid-margin">
                                <div class="position-relative">
                                    <div class="rotate-img">
                                        <img src="/Content/images/@item.Image" alt="thumb" class="img-fluid">
                                    </div>
                                    <div class="d-flex my-1">
                                        @if (item.IsNew == true)
                                        {
                                        <div class="badge-positioned mx-2">
                                            <span class="badge badge-danger font-weight-bold">NEW</span>
                                        </div>
                                        }
                                        @if (item.Highlights == true)
                                        {
                                        <div class="badge-positioned">
                                            <span class="badge badge-danger font-weight-bold">HOT</span>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8  grid-margin">
                                <h2 class="mb-2 font-weight-600">
                                    @item.Title
                                </h2>
                                <div class="fs-13 mb-2">
                                    <span class="mr-2"><i class="ion-images"></i> @item.ModifiedBy</span>
                                </div>
                                <p class="mb-0">
                                    @item.Description
                                </p>
                            </div>
                                        }
                        </div>
                     </a>

                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" style=" height: 450px;padding:0">
        <div class="row mt-lg-5 my-4 text11-content list-wrapper" style="margin:15px 0; font-size:20px"><span class="col-lg-12 col-sm-1 text-center" style="font-size: 30px; background-color: #1e90ff;color:white"><i class="ion-images mx-1"></i>Album ảnh</span></div>
        <div style="  -webkit-box-align:center;-webkit-box-pack:center;display:-webkit-box;transform: translateY(20%);">
            <div style='position: relative;scale:1.41'>
                <div class="slider">

                    <a href="">
                        <div class="slide" style="grid-column-gap: 10px; display: flex;">
                            @foreach (var item in Model.ListBlogNew)
                            {
                                if(item.CategoryId == 5)
                                {
                                    <img class="slideImg" src="~/Content/images/@item.Image">
                                }
                            }
                        </div>
                    </a>
                </div>

                <div id="absolute" style="position: absolute; top: -80px ">
                    <button class="btnLeft" onclick="to_left()"><</button>
                    <button class="btnRight" onclick="to_right()">></button>
                    <div class="page" style="margin-left:28px;display:none">
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- customers Section -->
<section class="w3l-customers py-md-5 py-4" id="clients" style="background-color: rgb(30,144,255)">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-three owl-carousel owl-theme logo-view">
                    <div class="item">
                        <img src="~/Content/images/BoGiaoDuc.png" alt="company-logo" class="img-fluid">
                    </div>
                    <div class="item">
                        <img src="~/Content/images/b1.png" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="~/Content/images/b2.png" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="~/Content/images/b3.png" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="~/Content/images/b4.png" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="~/Content/images/b5.png" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="~/Content/images/b6.png" alt="company-logo" class="img-fluid">

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    
</section>

<!-- //customers Section -->
<script>
    const timer = ms => new Promise(res => setTimeout(res, ms));
    var slidePage = 0
    var slidePageNumber = 0

    function active(position) {
        var activing = document.getElementsByClassName('active')[0]
        if (activing) {
            activing.className = activing.className.replace("active", "")
        }
        document.getElementsByClassName("pageNumber")[position].className += " active"
    }

    async function to_right() {
        var a = document.getElementsByClassName('slider')[0]
        var position = a.scrollLeft
        for (var i = position; i <= position + 840; i += 10) {
            a.scrollLeft = i
            await timer(1)
        }
        if (slidePage < slidePageNumber - 1) {
            slidePage += 1
            active(slidePage)
        }


    }
    async function to_left() {
        var a = document.getElementsByClassName('slider')[0]
        var position = a.scrollLeft
        for (var i = position; i >= position - 840; i -= 10) {
            a.scrollLeft = i
            await timer(1)
        }
        if (slidePage > 0) {
            slidePage -= 1
            active(slidePage)
        }

    }
    function page() {
        var a = document.getElementsByClassName("slide")
        var length = a.length
        var du = length % 3
        var count = (length - du) / 3
        if (du >= 1) {
            count += 1
        }
        slidePageNumber = count
        for (var i = 0; i < count; i++) {
            var html = '<div class="pageNumber"></div>';
            document.getElementsByClassName('page')[0].insertAdjacentHTML('beforeend', html);
            var element = document.querySelector('.page')
            var style = getComputedStyle(element)
            var left = style.marginLeft
            var number = left.replace("px", "")
            number = Number(number)
            number -= 7
            document.getElementsByClassName("page")[0].style.marginLeft = number + "px"
        }
        //...
    }
    async function autoshow() {
        i = 0
        while (1) {
            await timer(2000)
            to_right()
            i += 1
            var a = document.getElementsByClassName('slider')[0]
            var position = a.scrollLeft
            if (slidePage == slidePageNumber - 1) {
                i = 0
                for (var j = position; j >= 0; j -= 10) {
                    a.scrollLeft = j
                    await timer(0)
                }
                slidePage = 0
                active(0)
            }
        }
    }
    page()
    active(0)
    autoshow()
</script>
<style>
    a {
        text-decoration: none;
    }

    .slider {
        color: #222;
        font-family: arial;
        font-weight: bold;
        width: 852.406px;
        display: flex;
        overflow-x: hidden;
    }

    .slide {
        width: 260px;
        margin-left: 10px;
        height: 256px;
        background: white;
        border: 0.5px solid #fff;
        border-radius: 10px;
        position: relative;
    }

    .slideImg {
        width: 260px;
        height: 230px;
        object-fit: cover;
        object-position: 50% 0;
        border-radius: 10px;
    }

    .title {
        font-size: 17px;
        margin-right: 12px;
        margin-left: 12px;
        margin-top: 10px;
        padding-bottom: 10px;
        color: #333333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    div.slide {
        text-overflow: ellipsis;
    }

    .btnLeft, .btnRight {
        top: 180px;
        width: 40px;
        height: 100px;
        margin-top: -22px;
        border: none;
        opacity: 90%;
        background: rgb(30,144,255);
        position: absolute;
    }

    .btnRight {
        margin-left: 812px;
    }

        .btnRight:hover, .btnLeft:hover {
            opacity: 50%;
        }

    .view {
        position: sticky;
        width: 260px;
        height: 30px;
        background: rgb(1,1,1,80%);
        color: white;
        margin-top: 133px;
        text-align: center;
    }

    .page {
        margin-top: 360px;
        margin-left: 426.2px;
    }

    .pageNumber {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        position: sticky;
        float: left;
        margin-right: 4px;
    }

    .active {
        background: #1e90ff;
    }

    .thanhcuon::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .thanhcuon::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    .thanhcuon::-webkit-scrollbar-thumb {
        background-color: #1e90ff;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    }

    nav {
        display: flex;
    }

    nav button {
        margin: 0 1rem;
    }
    @*Test*@
.carousel-fade {
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    min-width: 350px;
    min-height: 200px
}
.carousel-fade .carousel-item {
    transition: opacity .4s ease-in-out;
    opacity: 0.1;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-right.active {
    transition: opacity .4s ease-in-out;
    opacity: 1;
}
.carousel-fade .carousel-item-left.active {
    transition: all 0s;
    opacity: 0 !important;
    left: 0px !important;
}
#myCarousel .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    text-shadow: none;
}
#myCarousel .carousel-caption a {
    color: #fff;
    font-weight: 700
}
#myCarousel .list-group {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%
}
#myCarousel .list-group-item {
    background: #444;
  background: linear-gradient(to right, rgba(38,38,38,1) 0%,rgba(0,0,0,1) 100%);
    color: #aaa;
    border-radius: 0px;
    cursor: pointer;
    font-size: 1.2em;
    flex-grow: 1;
  transition:all 0.2s
}
#myCarousel .list-group-item:hover {
    background: #444;
  background: linear-gradient(to right, rgba(38,38,38,1) 0%,rgba(0,0,0,1) 50%);
}
#myCarousel .list-group .active {
    background-color: #333;
  color:#fff;
  background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(38,38,38,1) 100%);
    border-color: #111
}
#myCarousel {
    padding-right: 33.3333%;
}
#myCarousel .carousel-controls {
    display: none;
}
(max-width: 991px) {
    .carousel-caption p,
    #myCarousel .list-group {
        display: none;
    }
    #myCarousel {
        padding-right: 0%;
    }
    #myCarousel .carousel-controls {
        display: block;
    }
    #myCarousel img {
        width: 100%;
        height: 68vw;
        min-height: 200px
    }
}
if-supports-3d-transforms() {
    .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
        transform: translate3d(0, 0, 0);
    }
}

@*/* follow me @nodws */*@
#btn-twtr{
  clear:both;
  color:#fff;
  border:2px solid;
  border-radius:3px;
  text-align:center;
  text-decoration:none;
  display:block;
  font-family:sans-serif;
  font-size:14px;
  width:13em;
  padding:5px 10px;
  font-weight:600;
  margin:100px auto;
  background:rgba(0,0,0,0.2);
  box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
  opacity:0.6
}#btn-twtr:hover{color:#fff;opacity:1}

</style>