@model IEnumerable<WebApplication1.Context.BlogNew>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
        <div>
            <h2 class="text-2xl font-semibold leading-tight">Bài viết </h2>
        </div>
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
                <table class="min-w-full leading-normal">
                    <thead>
                        <tr>
                            @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                            {
                                <p class="p-1 ">
                                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                    <input type="submit" value="Tìm kiếm" class=" px-1 bg-blue-500 hover:bg-blue-700 text-light" />
                                </p>
                            }
                        </tr>
                        <tr>
                            <th class="px-2 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                Hình ảnh
                            </th>
                            <th class="px-2 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                Tiêu đề
                            </th>
                            <th class="px-2 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                Mô tả
                            </th>
                            <th class="px-2 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                Thể loại
                            </th>
                            <th class="px-2 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                Tin mới 
                            </th>
                            <th class="px-2 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                Tin cũ
                            </th>
                            <th class="px-2 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                <button class="float-right px-2 py-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded" style="width:50px;height:50px;"><a href="@Url.Action("Create","Product")" style="color:white;"><i class=" fas fa-edit"></i></a></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                    <div class="flex">
                                        <div class="ml-3">
                                            <p class="text-gray-900 whitespace-no-wrap">
                                                <img style="width:200px;height:100px" src="~/Content/images/@Html.DisplayFor(modelItem => item.Image)" />
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                    <div class="flex">
                                        <div class="ml-3">
                                            <p class="text-gray-900 whitespace-no-wrap">
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                    <div class="flex">
                                        <div class="ml-3">
                                            <p class="text-gray-900 whitespace-no-wrap">
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                    <div class="flex">
                                        <div class="ml-3">
                                            <p class="text-gray-900 whitespace-no-wrap">
                                                @Html.DisplayFor(modelItem => item.Category.Title)
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                    <div class="flex">
                                        <div class="ml-3">
                                            <p class="text-gray-900 whitespace-no-wrap">
                                                @Html.DisplayFor(modelItem => item.IsNew)
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                    <div class="flex">
                                        <div class="ml-3">
                                            <p class="text-gray-900 whitespace-no-wrap">
                                                @Html.DisplayFor(modelItem => item.Highlights)
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">@Html.ActionLink("Edit", "Edit", new { id = item.BlogId }) |</button>
                                    <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 border border-red-500 rounded"> @Html.ActionLink("Details", "Details", new { id = item.BlogId }) |</button>
                                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded">@Html.ActionLink("Delete", "Delete", new { id = item.BlogId })</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>